<form [formGroup]="form" class="form" (submit)="save()">
  <div class="form-group">
    <img [src]="form.get('image').value | safe">
    <input type="file" (input)="convertFile($event)">
  </div>
  <input class="input" placeholder="Название" type="text" formControlName="name">
  <input class="input" placeholder="цена" type="number" formControlName="price">
  <input class="input" placeholder="Количество" type="number" formControlName="quantity">

  <button [disabled]="form.invalid">Сохранить</button>
  <button (click)="cancel()">Отменить</button>
</form>
