:host{
  display: block;
  height: 100%;
  background: var(--primary-color);
}

.burger{
  padding: 10px;
  &__btn{
    border: none;
    display: block;
    background: none;
    width: 100%;
    padding: 0;
    outline: none;

    .icon{
      background: transparent url("/assets/img/burger.png") no-repeat;
      display: block;
      height: 100px;
      width: 50%;
      background-size: contain;
      margin: auto;
      cursor: pointer;
    }
  }
}

.nav{
  flex: 1;
}

.themes{
  display: flex;
  background: #ffffff;
  padding: 10px 0;

  .theme{
    flex: 1;
    height: 20px;
    cursor: pointer;

    &--light{
      background: #3f51b5;
    }

    &--dark{
      background: #9c27b0;
    }
  }
}

.sidebar{
  display: flex;
  flex-direction: column;
  height: 100%;

  &.hidden{
    width: 60px;

    .burger{
      padding: 10px 0 0;
    }

    .nav__tree{
      display: none;
    }
    .themes{
      display: none;
    }
  }
}
