/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
@import "form";

*{
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

img{
  width: 200px;
  height: auto;
}
